.sass-cache/
venv
.md
.env

# Terraform directories and files
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars.backup
*.tfplan
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
**/.terraform.lock.hcl

# Terraform files
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars          # Add this
!*.tfvars.example # But keep examples