name: Setup Infrastructure

on:
  workflow_dispatch:
    inputs:
      confirm:
        description: 'Type CREATE'
        required: true

jobs:
  terraform:
    if: github.event.inputs.confirm == 'CREATE'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: hashicorp/setup-terraform@v3
      
      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      
      - name: Apply Terraform
        run: |
          cd Terraform
          terraform init -reconfigure
          terraform apply -auto-approve

  install-addons:
    needs: terraform
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      
      - uses: azure/setup-helm@v3
      
      - name: Update kubeconfig
        run: aws eks update-kubeconfig --name EKSDeployment-cluster --region us-east-1
      
      - name: Install Helm charts
        run: |
          helm repo add ingress-nginx https://kubernetes.github.io/ingress-nginx
          helm repo add jetstack https://charts.jetstack.io
          helm repo add external-dns https://kubernetes-sigs.github.io/external-dns/
          helm repo update

          helm upgrade --install ingress-nginx ingress-nginx/ingress-nginx \
            -n ingress-nginx --create-namespace \
            -f helm-values/nginx-ingress.yaml

          helm upgrade --install cert-manager jetstack/cert-manager \
            -n cert-manager --create-namespace \
            --set crds.enabled=true \
            -f helm-values/cert-manager.yaml

          helm upgrade --install external-dns external-dns/external-dns \
            -n external-dns --create-namespace \
            -f helm-values/external-dns.yaml
      
      - name: Apply ClusterIssuer
        run: kubectl apply -f k8s/cluster-issuer-prod.yaml